<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Elements in HTML</title>
    <link rel="icon" class="js-site-favicon" type="image/png" href="{{ .Path }}/favicon.png">

    <script src="{{ .Path }}/script.js"></script>
    <link rel="stylesheet" href="{{ .Path }}/styles.css">
</head>
<body>

<elements-api apiDescriptionUrl="{{ .Path }}/{{ .SwaggerFile }}" router="hash" />

</body>
</html>